<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>로그인</title>

    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/sign.css" />
  </head>
  <body>
    <div id="signIn" class="signWrap">
      <div class="title">관리자 로그인</div>
      <div class="subTitle">v1.0.10</div>
      <input
        class="inputBox"
        ref="{idRef}"
        type="text"
        placeholder="아이디를 입력하세요."
      />
      <input
        class="inputBox"
        ref="{pwRef}"
        type="password"
        placeholder="비밀번호를 입력하세요."
      />
      <button class="signBtn" onClick="{SignIn}">로그인</button>
    </div>
  </body>
</html>
